#bhoop{color:rgb(255, 78, 89);background-color: blueviolet;}
.bhupi{color: blue;background-color: yellowgreen;}
h1{color:hotpink;background-color: turquoise;}
button{color:blue;background-color: brown;}

*{margin:0; 
padding:0;} 
